p {
    color:white;
}

body {
    background-color: black;
    font-size: 20px;
}

.text {
    color: white;
}

#fucker {
    width: 300px;
    height: auto;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 1px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
